* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;

}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.imagem {
    display: flex;
    margin: 500px;
    padding-top: 20px;
    margin-top: 50px;
    width: 350px;
    margin-left: 400px;
    align-items: center;
    
}


.bloco-texto1 {
    color: #CD9CFA;
    margin: 100px;
    font-size: 40px;
    margin-top: -400px;
    display: flex;


}

.bloco-texto2 {
    display: flex;
    color: #CD9CFA;
    margin: 100px;
    font-size: 30px;
    margin-top: -50px;

}


.bloco-texto3 {
    display: flex;
    color: #FCC419;
    margin: 100px;
    font-size: 30px;
    margin-top: -50px;



}

.bloco-texto4 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;



}



.bloco-texto5 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;

}


.bloco-texto6 {
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;
}




.bloco-texto7 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;
}


.bloco-texto8 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;
}



.bloco-texto9 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;

}

.bloco-texto10 {
    display: flex;
    color: #FCC419;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;
}

.bloco-texto11 {
    display: flex;
    color: #CD9CFA;
    font-size: 30px;
    margin: 100px;
    margin-top: -50px;
}



.rodape{
    font-size: 20px;
    color: #CD9CFA;
    background-color: black;
    padding: 50px;
    padding-left: 780px;
}