* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primaria: #cd9cfa;
    --segundaria: #FCC419;
    --texto: #2f2f2f;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.barratopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85px;

}

#menu ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    padding-left: 100px;
}

#menu ul li {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 23px;
    padding-top: 2px;
}

#menu ul li:hover {
    background-image: url("../img/osso.png");
    background-repeat: no-repeat;
    background-position: bottom;


}

#menu ul li a {
    color: var(--texto);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;


}

.paginainterna .lupa {
    color: #2f2f2f !important;
}

.paginainterna #botao a {
    color: #2f2f2f !important;
}

.imagemBanner {
    background: url(../img/cabecalho.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
}

#banner {
    display: flex;
    align-items: center;
    height: calc(100% - 350px);
}

.mensagem-banner h1 {
    color: var(--primaria);
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 30px;

}

.mensagem-banner p {
    color: var(--texto);
    padding-top: 20px;
    width: 500px;
    font-size: 16px;

}

.botao-adotar {
    background-color: var(--segundaria);
    padding: 12px 12px;
    border-radius: 18px;
    position: absolute;
    margin-top: 45px;
    color: #ffff;
    font-size: 16px;
}

.caixa-text {
    border-radius: 15px;
    background-color: #d9d9d9;
    opacity: 60%;
    height: 20px;
    width: 100%;
    border: solid 2px #d9d9d9;

}

#botao a {
    padding-left: 35px;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
}

.lupa {
    background: none;
    border: none;
    color: #ffff;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;

}

#FormPesquisa {
    margin-left: auto;
}

#FormPesquisa form {
    display: flex;
}

.estastistica {
    display: flex;
    background-color: #A15BE2;
    width: 650px;
    height: 141px;
    margin-top: -20px;
    padding-left: 80px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    background-image: url("../img/Patinhas.png");
    background-repeat: no-repeat;
    background-position: 35px 15px;

}

.numero {
    padding: 55px;
    color: #ffff;
    font-size: 16px;
    text-align: center;

}

.valor {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-top: -15px;
}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 105px;

}

.container span {
    color: var(--primaria);
    padding-left: 8px;
}

.passosadote {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    background-image: url("../img/traco.png");
    background-repeat: no-repeat;
    background-position: center;

}

.blocochamada {
    border: solid 1px #cc9cfa24;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 3px 5px #cd9cfa;
    background-color: #fff;
    margin-top: 80px;
    padding-left: 15px;
    margin-left: 1px;
    font-size: 14px;
    width: 235px;
    height: 210px;

}

.container h3 {
    display: flex;
    justify-content: center;
    padding-top: 65px;
    font-size: 25px;

}

#selecaoDeCachorros {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    font-size: 16px;
}


.bloco-meio {
    margin-top: 160px;
    padding: 10px;
}


.espaçamento1 {
    margin-top: 30px;
    font-size: 14px;
}


.espaçamento2 {
    margin-top: 30px;
    font-size: 14px;

}


.espaçamento3 {
    margin-top: 30px;
    font-size: 14px;
}


.cor {
    color: #2f2f2f;
    font-size: 16px;
}

.cor2 {
    color: #2f2f2f;
    font-size: 16px
}


.cor3 {
    color: #2f2f2f;
    font-size: 16px;
}

/*continuação do index html*/

.container3 {
    display: flex;
    margin: 150px;
    padding: 150px;
    padding-left: 150px;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.bloco-cachorros {

    padding: 100px;
    padding-top: 5px;
}

.gatos {

    padding-top: 50px;
    margin-top: -40px;
}



.pets {

    margin-top: -481px;
    padding: 150px;
    margin-left: 250px;
    padding-top: -100x;
}


.caramelo {

    padding-left: 15px;
    padding: 20px;
}

.siames {

    margin-top: 20px;
    padding-left: 70px;


}

.muitos {

    padding-left: 60px;

}

.container4 {
    display: flex;
    margin-left: 200px;
    background-color: #cd9cfa73;
    padding-left: 135px;
    padding-top: 150px;
    width: 80%;
    margin-top: -10px;
    box-shadow: #cd9cfa73;

}

.bloco-depoimentos {
    justify-content: center;
    padding: 150px;

}

.depoimento {
    padding-left: 300px;
    padding-top: -900%;
    margin-top: -150px;

}



.depoimento1 {
    padding-top: 160px;
    padding: 30px;
    padding-left: 90px;

}

.testimony1 {
    padding: 100px;
    margin-left: -15px;
    margin-top: 5px;
    width: 400px;
    height: 550px;

}

.testimony2 {
    padding: 100px;
    margin-left: -118px;
    height: 700;
    width: 400px;
    margin-top: 5px;
}

.testimony3 {
    display: flex;
    padding-top: 900px;
    margin-top: -559px;
    padding: 100px;
    margin-left: 560px;
    padding-top: -70px;
    width: 400px;
    height: 550px;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center
}

.se-inscreva {
    display: flex;


}



.imagem {
    margin-left: 100px;
    margin-top: 170px;

}


.boletin {
    margin-left: 650px;
    margin-top: -400px;
    font-size: 30px;
    align-items: center;

}

.roxo {
    color: #cd9cfa;
}


.ultimas {
    margin-left: 650px;
    font-size: 16px;
}





.pesquisa {

    margin-top: 460px;
    width: 499px;
    height: 45px;
    border-radius: 10px;
    border: 3px solid #cd9cfa;
    background: #fff;
    margin-left: -477.4px;

}




.botao {
    display: flex;
    grid-column: 10px;
    margin-left: 55.4%;
    align-items: center;
    padding-left: 1px;
    margin-top: 203.3%;
    background-color: #cd9cfa;
    width: 146px;
    height: 43px;
    border: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 16px;

}


.botao {
    position: absolute;
    top: 50px;
    left: 50px;
}

.botao {
    position: absolute;
    justify-content: center;
    align-items: center;
}


.botao {
    display: grid;
}


.botao {
    grid-column: 1;
    grid-row: 1;
}




.caixa-mensagem {
    display: flex;
    width: 499px;
    height: 45px;
    margin-left: -480px;
    padding-left: 580px;
    padding: 300px;
    
}
/* css da pagina-contribuir */
.bannerprincipal {
    display: flex;
}

.mensagem {
    text-align: center;
    padding: 55px;
    font-size: 25px;
    margin-top: 75px;

}

.textoamarelo {
    color: var(--segundaria) !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.botoes {
    display: flex;
    justify-content: space-around;
    padding: 35px 150px;

}

.botao3 {
   background-color: var(--segundaria);
   border-radius: 8px;
   padding: 0.2em ;
   margin: 5px;
 
  
    
}
.botao3 a{
font-size: 16px;
color: #fff;
}
.titulo2{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-family:'Quicksand', sans-serif; 
font-weight: 500;
}

.doar{
    display: flex;
   text-align:center;

}
.imgnumero{

}
.formascontribuir{
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    
}
    .formascontribuir p{
        margin: 0 auto;
    }








